body{
    margin: 0px;
}

.game{
    height: 100vh;
    width: 100%;
    background-color:#dd3758;
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
}

.game .scoreboard{
    display: flex;
    background-color: cornflowerblue ;
    width: 150px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.player,.computer{
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.scoreboard .player h2{
    position: absolute;
    width: 100px;
    left: -90px;
    background-color: rgb(87, 65, 26);
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius:10px ;
}

.scoreboard .border{
    position: absolute;
    border: 5px solid #dd3758;
    height: 110px;
}

.scoreboard .computer h2{
    position: absolute;
    right: -90px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(87, 65, 26);
    padding: 5px;
    border-radius:10px ;
}

.options{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.option {
    width: 110px;
    background-color: rgb(255, 156, 85);
    border: 5px solid black;
    border-radius: 50%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.option:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

 #scissor{
    transform: rotateY(180deg);
}

#rock{
    transform: rotate(90deg);
}

.option img{
    width: 100%;
}

.win{
    border: 5px solid #00ff00 !important;
}

.lose{
    border: 5px solid #f80000 !important;
}

